.home-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,202,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  h2 {
    text-align: center;
  }
  
  .invoice-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .invoice-form input {
    width: 30%;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .invoice-form button {
    width: 10%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .invoice-form button:hover {
    background-color: #45a049;
  }
  
  .invoice-list {
    list-style-type: none;
    padding: 0;
  }
  
  .invoice-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .invoice-item p {
    margin: 5px 0;
  }
  
  .invoice-item strong {
    color: #333;
  }
  